#wpwrap{
    background-color:#FFF;
}
#sv_header{
    display:flex;
}
#sv_header a{
    display:block;
}
#sv_header img{
    max-width:90%;
}
#sv_logo{
    width:100%;
    text-align:center;
}
#sv_settings{
    max-width: 700px;
    margin: 100px auto;
}
#sv_settings *{
    font-size:16px;
}
#sv_settings div{
    margin-bottom: 10px;
}
#sv_settings h2{
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase;
    background-color: #000;
    color: #FFF;
    margin-bottom:10px;
}
#sv_settings .sv_setting{
    margin-bottom:20px;
    overflow:hidden;
}
#sv_settings h3, #sv_settings .sv_setting_name{
    font-size: 24px;
    border-bottom: 1px solid #000;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight:normal;
}
#sv_settings .sv_setting_desc{
    margin-bottom: 10px;
}
#sv_settings .sv_setting_value input{
    width: 100%;
    background-color: #000;
    color: #FFF;
}
#sv_settings .sv_setting_checkbox .sv_setting_desc{
    float:right;
    width:calc(100% - 50px);
}
#sv_settings .sv_setting_checkbox .sv_setting_value{
    float:left;
}
#sv_settings .sv_setting_value input[type="checkbox"]{
    width: 40px;
    height: 40px;
    text-align:center;
    background-color:#000;
    margin-top:5px;
}
#sv_settings .sv_setting_value input[type=checkbox]:checked:before{
    color: #FFF;
    font-size: 30px;
    line-height:40px;
    margin:0;
}
.ipbwi_error{
    background-color:#FF3300;
    color:#FFF;
    padding:10px;
}
.ipbwi_warning{
    background-color:#FFAA00;
    color:#FFF;
    padding:10px;
}
.ipbwi_success{
    background-color:#00AA00;
    color:#FFF;
    padding:10px;
}
#sv_settings .left{
    width:33%;
    display:inline-block;
}
#sv_settings .center{
    width:33%;
    text-align:center;
    display:inline-block;
}
#sv_settings .right{
    width:33%;
    text-align:right;
    display:inline-block;
}
#sv_extensions div{
    display:inline-block;
}
#sv_extensions div a.not_installed{
    opacity:0.5;
}
#sv_extensions div a.not_installed:hover{
    opacity:0.8;
}