.sv_ajax_fragmented_requests_start > span > .label{
	padding-right:10px;
}
.sv_ajax_fragmented_requests_start .processing,
.sv_ajax_fragmented_requests_start .finished{
	display:none;
}
.sv_ajax_fragmented_requests_log{
	max-height:200px;
	overflow:auto;
	border-bottom:1px solid #000;
	padding:10px;
}